<section class="aov personal-skill-select" id="skill-select-form">
  <br>
  <div class='bold'>
    <label class="skill-opt-label">{{ localize 'AOV.selectionsMade' }}:</label>
    <span class="centre count">0</span>
    <span class="centre">/</span>
    <span class="centre">{{picks}}</span>
  </div>
  <br>


  <div class="gear-detail-grid">

    <div class="new-row bold" style="margin-bottom:5px;">{{localize 'AOV.perSkill25'}}</div>
    <div class="">
      <select class="gear-input selector option-1" data-adj=25 data-handle-change name="option1">
        {{selectOptions selectOptions valueAttr="id" labelAttr="name"}}
      </select>
    </div>

    <div class="new-row bold" style="margin-bottom:5px;">{{localize 'AOV.perSkill25'}}</div>
    <div class="">
      <select class="gear-input selector option-2" data-adj=25 data-handle-change name="option2">
        {{selectOptions selectOptions valueAttr="id" labelAttr="name"}}
      </select>
    </div>

    <div class="new-row bold" style="margin-bottom:5px;">{{localize 'AOV.perSkill25'}}</div>
    <div class="">
      <select class="gear-input selector option-3" data-adj=25 data-handle-change name="option3">
        {{selectOptions selectOptions valueAttr="id" labelAttr="name"}}
      </select>
    </div>

    <div class="new-row bold" style="margin-bottom:5px;">{{localize 'AOV.perSkill25'}}</div>
    <div class="">
      <select class="gear-input selector option-4" data-adj=25 data-handle-change name="option4">
        {{selectOptions selectOptions valueAttr="id" labelAttr="name"}}
      </select>
    </div>

    <div class="new-row bold" style="margin-bottom:5px;">{{localize 'AOV.perSkill25'}}</div>
    <div class="">
      <select class="gear-input selector option-5" data-adj=25 data-handle-change name="option5">
        {{selectOptions selectOptions valueAttr="id" labelAttr="name"}}
      </select>
    </div>

    <div class="new-row bold" style="margin-bottom:5px;">{{localize 'AOV.perSkill10'}}</div>
    <div class="">
      <select class="gear-input selector option-6" data-adj=10 data-handle-change name="option6">
        {{selectOptions selectOptions valueAttr="id" labelAttr="name"}}
      </select>
    </div>

    <div class="new-row bold" style="margin-bottom:5px;">{{localize 'AOV.perSkill10'}}</div>
    <div class="">
      <select class="gear-input selector option-7" data-adj=10 data-handle-change name="option7">
        {{selectOptions selectOptions valueAttr="id" labelAttr="name"}}
      </select>
    </div>

    <div class="new-row bold" style="margin-bottom:5px;">{{localize 'AOV.perSkill10'}}</div>
    <div class="">
      <select class="gear-input selector option-8" data-adj=10 data-handle-change name="option8">
        {{selectOptions selectOptions valueAttr="id" labelAttr="name"}}
      </select>
    </div>

    <div class="new-row bold" style="margin-bottom:5px;">{{localize 'AOV.perSkill10'}}</div>
    <div class="">
      <select class="gear-input selector option-9" data-adj=10 data-handle-change name="option9">
        {{selectOptions selectOptions valueAttr="id" labelAttr="name"}}
      </select>
    </div>

    <div class="new-row bold" style="margin-bottom:5px;">{{localize 'AOV.perSkill10'}}</div>
    <div class="">
      <select class="gear-input selector option-10" data-adj=10 data-handle-change name="option10">
        {{selectOptions selectOptions valueAttr="id" labelAttr="name"}}
      </select>
    </div>

    <div class="new-row bold" style="margin-bottom:5px;">{{localize 'AOV.perSkill10'}}</div>
    <div class="">
      <select class="gear-input selector option-11" data-adj=10 data-handle-change name="option11">
        {{selectOptions selectOptions valueAttr="id" labelAttr="name"}}
      </select>
    </div>

  </div>
  <br>

</section>