<section id="check-roll-form">

  <div class = "diff-label bold">{{ cardLabel}}:</div>
  <br>

  {{#if askDodge}}
    <div class="flexrow">
      <label title = "{{ localize 'AOV.card.dodgeCombatHint' }}" >{{localize "AOV.card.dodgeCombat"}}</label>
        <input data-handle-change class="centre" type="checkbox" value="yes" name="dodgeCombat" checked>
    </div>
    <br>
  {{/if}}



  {{#if askFixed}}
    <div class="flexrow">
      <label title = "{{ localize 'AOV.card.oppResHint' }}" >{{localize "AOV.card.oppRes"}}</label>
        <input data-handle-change class="centre" type="number" value="{{oppRes}}" name="oppRes">
    </div>
    <br>
  {{/if}}

  {{#if askDiff}}
    <div class="flexrow">
      <label title = "{{ localize 'AOV.card.difficultyHint' }}" >{{localize "AOV.card.difficulty"}}</label>
      <select class="stat-input" data-handle-change name="diffOption">
        {{selectOptions diffOptions selected="simple"}}
      </select>
    </div>
    <br>
  {{/if}}

  {{#if askSuccess}}
    <div class="flexrow">
      <label title = "{{ localize 'AOV.card.attackSuccessHint' }}" >{{localize "AOV.card.attackSuccess"}}</label>
       <select class="stat-input" data-handle-change name="dmgLevel">
        {{selectOptions dmgLevels selected="{{successLevel}}" }}
      </select>
    </div>
    <br>
  {{/if}}

  {{#if askDamType}}
    <div class="flexrow">
      <label title = "{{ localize 'AOV.card.attackDamTypeHint' }}" >{{localize "AOV.card.attackDamType"}}</label>
      <select class="stat-input" data-handle-change name="ctOption">
        {{selectOptions ctOptions selected="i"}}
      </select>
    </div>
    <br>
  {{/if}}

  {{#if askDamBonus}}
    <div class="flexrow">
      <label title = "{{ localize 'AOV.card.attackDamBonusHint' }}" >{{localize "AOV.card.attackDamBonus"}}</label>
        <input data-handle-change class="centre" type="number" value="{{damBonus}}" name="damBonus">
    </div>
    <br>
  {{/if}}

  {{#if askBonus}}
    <div class="flexrow">
      <label title = "{{ localize 'AOV.card.checkBonusHint' }}" >{{localize "AOV.card.checkBonus"}}</label>
        <input data-handle-change class="centre" type="number" value="{{flatMod}}" name="checkBonus">
    </div>
    <br>
  {{/if}}

  </section>