{{! Description Tab }}
<section class='actor tab description {{tab.cssClass}}' data-group='primary' data-tab='description'>
  <div>{{localize 'AOV.description'}}</div>

  {{! Editor for notes}}
  <div class="item-notes">
    {{#if editable}} 
      <prose-mirror name="system.description" data-document-u-u-i-d="{{actor.uuid}}" value="{{system.description}}" collaborate="true" toggled="true">
        {{{enrichedDescription}}}
      </prose-mirror>   
    {{else}}
      {{{enrichedDescription}}}
    {{/if}}  
  </div>
</section>