<section class='character tab stats {{tab.cssClass}}' data-group='primary' data-tab='stats'>

  <ol class='gear-list'>
    <li class='gear-header statsgrid'>
      <div class='left'>{{localize 'AOV.name'}}</div>
      <div class='centre'>{{localize 'AOV.base'}}</div>
      <div class='centre'>{{localize 'AOV.age'}}</div>
      <div class='centre'>{{localize 'AOV.exp'}}</div>
      <div class='centre'>{{localize 'AOV.total'}}</div>
    </li>

    {{#each system.abilities as |ability key|}}
    <li class='statsgrid' data-characteristic="{{key}}">
      <div class="stat-val left rollable new-row">{{ability.label}}</div>
      {{#if ../isLocked}}
      <div class='stat-val centre'>{{ability.value}}</div>
      <div class='stat-val centre'>{{ability.age}}</div>
      <div class='stat-val centre'>{{ability.xp}}</div>
      {{else}}
      <div class='stat-val centre'>
        <input class="stat-val" name='system.abilities.{{key}}.value' type='text' value='{{ability.value}}'
          data-dtype="Number" />
      </div>
      <div class='stat-val centre'>
        <input class="stat-val" name='system.abilities.{{key}}.age' type='text' value='{{ability.age}}'
          data-dtype="Number" />
      </div>
      <div class='stat-val centre'>
        <input class="stat-val" name='system.abilities.{{key}}.xp' type='text' value='{{ability.xp}}'
          data-dtype="Number" />
      </div>
      {{/if}}
      <div class='stat-val centre'>{{ability.total}}</div>
    </li>
    {{/each}}
    <br>
    <li class='statsgrid'>
      <div class="stat-val left rollable new-row">{{localize 'AOV.reput'}}</div>
      {{#if ../isLocked}}
      <div class='stat-val centre'>{{system.reputation.base}}</div>
      <div class='stat-val centre'>{{system.reputation.xp}}</div>
      {{else}}
      <div class='stat-val centre'>
        <input class="stat-input" name='system.reputation.base' type='text' value='{{system.reputation.base}}'
          data-dtype="Number" />
      </div>
      <div class='stat-val centre'>
        <input class="stat-input" name='system.reputation.xp' type='text' value='{{system.reputation.xp}}'
          data-dtype="Number" />
      </div>
      {{/if}}
    </li>
    <li class='statsgrid'>
      <div class="stat-val left rollable new-row">{{localize 'AOV.status'}}</div>
      {{#if ../isLocked}}
      <div class='stat-val centre'>{{system.status.base}}</div>
      <div class='stat-val centre'>{{system.status.xp}}</div>
      {{else}}
      <div class='stat-val centre'>
        <input class="stat-input" name='system.status.base' type='text' value='{{system.status.base}}'
          data-dtype="Number" />
      </div>
      <div class='stat-val centre'>
        <input class="stat-input" name='system.status.xp' type='text' value='{{system.status.xp}}'
          data-dtype="Number" />
      </div>
      {{/if}}
    </li>
  </ol>

</section>