<section class='actor tab passions {{tab.cssClass}}' data-group='primary' data-tab='passions'>
  <ol class='gear-list'>
    <li class='item gear-header passion-grid'>
      <div class='left new-row'>{{localize 'AOV.name'}}</div>
      <div class='centre' title="{{localize 'AOV.xpAbbrHint'}}">{{localize 'AOV.xpAbbr'}}</div>
      <div class='centre' title="{{localize 'AOV.totalScore'}}">%</div>
      <div class='centre'></div>
    </li>
    {{#each passions as |item id|}}
    <li class='item passion-grid' data-item-id='{{item._id}}' data-drag='true' data-document-class='Item'>
      <div class="new-row gear-name left rollable" title='{{localize "AOV.viewDoc" type=(localize "AOV.passion")}}'
        data-action='viewDoc'>{{item.name}}</div>
      {{#unless item.system.noXP}}
      <div class='gear-name centre' data-action="itemToggle" data-property="xpCheck"><a>
          {{#if item.system.xpCheck}}
          <i class="fa-regular fa-square-check"></i>
          {{else}}
          <i class="fa-regular fa-square"></i>
          {{/if}}
        </a></div>
      {{else}}
      <div></div>
      {{/unless}}
      </a></div>
      <div class='gear-name centre terIcon'>{{item.system.total}}</div>
      {{#unless ../isLocked}}
      <div class='gear-controls centre'>
        <a class='item-delete centre' title='{{localize "AOV.deleteDoc" type=(localize "AOV.gear")}}'
          data-action="deleteDoc">
          <i class='fas fa-trash'></i>
        </a>
      </div>
      {{/unless}}
    </li>
    {{/each}}
  </ol>
</section>