{{! Description Tab }}
<section class='character tab notes {{tab.cssClass}}' data-group='primary' data-tab='notes'>
  <div class="bold">{{localize 'AOV.notes'}}</div>

  {{! Editor for notes}}
  <div class="character-notes">
    {{#if editable}}
    <prose-mirror name="system.description" data-document-u-u-i-d="{{actor.uuid}}" value="{{system.description}}"
      collaborate="true" toggled="true">
      {{{enrichedDescription}}}
    </prose-mirror>
    {{else}}
    {{{enrichedDescription}}}
    {{/if}}
  </div>
</section>