{{! Sheet Header }}
<header class='actor sheet-header'>
  <img
    class='profile-img'
    src='{{actor.img}}'
    data-edit='img'
    data-action='onEditImage'
    title='{{actor.name}}'
    height='100'
    width='100'
  />
  <div class='header-fields'>
    <div class='document-name'>
      <input name='name' type='text' value='{{actor.name}}'/>
    </div>
    <div class=''>

      <div class=''>
        <label for='system.health.value' class='resource-label'>
          {{localize 'AOV.Actor.hp'}}
        </label>
        <div class=''>
          <input type='text' name='system.hp.value' value='{{system.hp.value}}' data-dtype='Number'/>
          <span> / </span>
          <input type='text' name='system.hp.max' value='{{system.hp.max}}' data-dtype='Number'/>
        </div>
      </div>

      <div class=''>
        <label for='system.power.value' class='resource-label'>
          {{localize 'AOV.Actor.power'}}
        </label>
        <div class=''>
          <input type='text' name='system.power.value' value='{{system.power.value}}' data-dtype='Number'/>
          <span> / </span>
          <input type='text' name='system.power.max' value='{{system.power.max}}' data-dtype='Number'/>
        </div>
      </div>
    </div>
  </div>
</header>