<section class='character tab skills {{tab.cssClass}}' data-group='primary' data-tab='skills'>
  {{#unless isDevelop}}
    <div class="skill-grid-header">
      <div class='gear-header primBackCol skill-grid'>
        <div class='new-row left'>{{localize 'AOV.name'}}</div>
        <div class='centre' title="{{localize 'AOV.xpAbbrHint'}}">{{localize 'AOV.xpAbbr'}}</div>
        <div class='centre' title="{{localize 'AOV.totalScore'}}">%</div>
        <div class='centre'>
          <a data-action="toggleActor" data-property = "uncommon" title="{{localize 'AOV.hideUncommon'}}">
            {{#if system.uncommon}}
              <i class="fa-solid fa-magnifying-glass-plus"></i>
            {{else}}
              <i class="fa-solid fa-magnifying-glass-minus"></i>
            {{/if}}
          </a>
        </div>
      </div>
      <div class='gear-header primBackCol skill-grid'>
        <div class='new-row left'>{{localize 'AOV.name'}}</div>
        <div class='centre' title="{{localize 'AOV.xpAbbrHint'}}">{{localize 'AOV.xpAbbr'}}</div>
        <div class='centre' title="{{localize 'AOV.totalScore'}}">%</div>
        <div class='centre'>
          <a data-action="toggleActor" data-property = "alphaSkills" title="{{localize 'AOV.alphaSkill'}}">
            {{#if system.alphaSkills}}
              <i class="fa-solid fa-arrow-down-short-wide"></i>
            {{else}}
              <i class="fa-solid fa-arrow-down-a-z"></i>
            {{/if}}
          </a>
        </div>
      </div>
    </div>

    <ol class='skill-list'>
      {{#each skills as |item id|}}
        <li class='item skill-grid' data-item-id='{{item._id}}' data-drag='true' data-document-class='Item'>
          {{#if isType}}
            {{#unless (eq item.system.category 'agi')}}
              <div class="new-row"></div>
              <br>
            {{/unless}}
            <div class="new-row gear-name left bold upper">{{item.system.label}}</div>
            <div></div>
            <div class='gear-name centre upper'>{{item.system.total}}</div>
          {{else}}
            <div class="new-row gear-name left rollable" title='{{localize "AOV.viewDoc" type=(localize "TYPES.Item.skill")}}'
              data-action='viewDoc'>{{item.system.label}}</div>
            {{#unless item.system.noXP}}
              <div class='gear-name centre' data-action="itemToggle" data-property="xpCheck"><a>
                {{#if item.system.xpCheck}}
                  <i class="fa-regular fa-square-check"></i>
                {{else}}
                  <i class="fa-regular fa-square"></i>
                {{/if}}
              </a></div>
            {{else}}
              <div></div>
            {{/unless}}
            <div class='gear-name centre rollable terIcon' data-action="diceroll" data-property="skill" data-skill-id="{{item._id}}" data-tooltip="AOV.rolls.skillRoll">{{item.system.total}}</div>
            {{#unless ../isLocked}}
              <div class='gear-controls centre'>
                <a class='item-delete centre' title='{{localize "AOV.deleteDoc" type=(localize "TYPES.Item.skill")}}'
                  data-action="deleteDoc">
                  <i class='fas fa-trash'></i>
                </a>
              </div>
            {{/unless}}
          {{/if}}
        </li>
      {{/each}}
    </ol>
  {{else}}
    <ol class='skillDev-list'>
      <div class='gear-header primBackCol skillDev-grid'>
        <div class='new-row left'>{{localize 'AOV.name'}}</div>
        <div class='centre'>{{localize 'AOV.category'}}</div>
        <div class='centre'>{{localize 'AOV.base'}}</div>
        <div class='centre'>{{localize 'AOV.exp'}}</div>
        <div class='centre' title="{{localize 'AOV.homeland'}}">{{localize 'AOV.homelandAbbr'}}</div>
        <div class='centre' title="{{localize 'AOV.personal'}}">{{localize 'AOV.personalAbbr'}}</div>
        <div class='centre' title="{{localize 'AOV.effects'}}">{{localize 'AOV.effectsShort'}}</div>
        <div class='centre' title="{{localize 'AOV.category'}}">{{localize 'AOV.categoryAbbr'}}</div>
        <div class='centre'>{{localize 'AOV.total'}}</div>
      </div>
      {{#each devSkills as |item id|}}
        <li class='item skillDev-grid' data-item-id='{{item._id}}' data-drag='true' data-document-class='Item'>
          <div class="new-row gear-name left right-line truncate rollable" title='{{item.system.label}}'
            data-action='viewDoc'>{{item.system.label}}</div>
          <div class='gear-name centre right-line'>{{item.system.catLabel}}</div>
          <div class='gear-name centre right-line skill-inline'><input class="skillDev-input centre" name='system.base'
            type='number' value='{{item.system.base}}' data-field="base"/></div>
          <div class='gear-name centre right-line skill-inline'><input class="skillDev-input centre" name='system.xp'
            type='number' value='{{item.system.xp}}' data-field="xp"/></div>
          <div class='gear-name centre right-line skill-inline'><input class="skillDev-input centre" name='system.home'
            type='number' value='{{item.system.home}}' data-field="home"/></div>
          <div class='gear-name centre right-line skill-inline'><input class="skillDev-input centre" name='system.pers'
            type='number' value='{{item.system.pers}}' data-field="pers"/></div>
          <div class='gear-name centre right-line terIcon'>{{item.system.effects}}</div>
          <div class='gear-name centre right-line terIcon'>{{item.system.catBonus}}</div>
          <div class='gear-name centre'>{{item.system.total}}</div>
        </li>
      {{/each}}
    </ol>
  {{/unless}}
</section>