<section class='character tab stats {{tab.cssClass}}' data-group='primary' data-tab='stats'>

  <ol class='gear-list'>
    <li class='gear-header primBackCol statsgrid'>
      <div class='left'>{{localize 'AOV.name'}}</div>
      <div class='centre'>{{localize 'AOV.base'}}</div>
      <div class='centre'>{{localize 'AOV.age'}}</div>
      <div class='centre'>{{localize 'AOV.exp'}}</div>
      <div class='centre'>{{localize 'AOV.effects'}}</div>
      <div class='centre'>{{localize 'AOV.total'}}</div>
    </li>

    {{#each system.abilities as |ability key|}}
    <li class='statsgrid' data-characteristic="{{key}}">
      <div class="stat-val left rollable new-row">{{ability.label}}</div>
      {{#if ../isLocked}}
      <div class='stat-val centre'>{{ability.value}}</div>
      <div class='stat-val centre'>{{ability.age}}</div>
      <div class='stat-val centre'>{{ability.xp}}</div>
      {{else}}
      <div class='stat-val centre'>
        <input class="stat-val" name='system.abilities.{{key}}.value' type='number' value='{{ability.value}}'/>
      </div>
      <div class='stat-val centre'>
        <input class="stat-val" name='system.abilities.{{key}}.age' type='number' value='{{ability.age}}'/>
      </div>
      <div class='stat-val centre'>
        <input class="stat-val" name='system.abilities.{{key}}.xp' type='number' value='{{ability.xp}}'/>
      </div>
      {{/if}}
      <div class='stat-val centre terIcon'>{{ability.effects}}</div>
      <div class='stat-val centre terIcon'>{{ability.total}}</div>
    </li>
    {{/each}}
    <br>
    <li class='statsgrid'>
      <div class="stat-val left rollable new-row">{{localize 'AOV.reput'}}</div>
      {{#if ../isLocked}}
      <div class='stat-val centre'>{{system.reputation.base}}</div>
      <div></div>
      <div class='stat-val centre'>{{system.reputation.xp}}</div>
      {{else}}
      <div class='stat-val centre'>
        <input class="stat-input" name='system.reputation.base' type='number' value='{{system.reputation.base}}'/>
      </div>
      <div></div>
      <div class='stat-val centre'>
        <input class="stat-input" name='system.reputation.xp' type='number' value='{{system.reputation.xp}}'/>
      </div>
      {{/if}}
      <div class='stat-val centre terIcon'>{{system.reputation.effects}}</div>
      <div class='stat-val centre terIcon'>{{system.reputation.total}}</div>
    </li>
    <li class='statsgrid'>
      <div class="stat-val left rollable new-row">{{localize 'AOV.status'}}</div>
      {{#if ../isLocked}}
      <div class='stat-val centre'>{{system.status.base}}</div>
      <div></div>
      <div class='stat-val centre'>{{system.status.xp}}</div>
      {{else}}
      <div class='stat-val centre'>
        <input class="stat-input" name='system.status.base' type='number' value='{{system.status.base}}'/>
      </div>
      <div></div>
      <div class='stat-val centre'>
        <input class="stat-input" name='system.status.xp' type='text' value='{{system.status.xp}}'/>
      </div>
      {{/if}}
      <div class='stat-val centre terIcon'>{{system.status.effects}}</div>
      <div class='stat-val centre terIcon'>{{system.status.total}}</div>
    </li>
    <li class='statsgrid'>
      <div class="stat-val left rollable new-row">{{localize 'AOV.vadmal'}}</div>
      <div class='stat-val centre'>
        <input class="stat-input" name='system.vadmal' type='number' value='{{system.vadmal}}'/>
      </div>
    </li>


  </ol>

  <br>

  <ol class="gear-list">
    <div class="effects-grid gear-header {{#if singleColour}}primBackCol{{else}}secBackCol{{/if}}">
      <div class="diff-label left">{{localize 'AOV.sourceItem'}}</div>
      <div class="diff-label centre">{{localize 'AOV.effect'}}</div>
      <div class="diff-label centre">{{localize 'AOV.amount'}}</div>
      <div class="diff-label centre">{{localize 'AOV.active'}}</div>
    </div>

    {{#each effects as |effect|}}
      <li class="item item-edit effects-grid" data-item-id = "{{effect.id}}">
        <div class="effect-source left">{{effect.sourceName}}</div>
        <div class="centre truncate" title="{{effect.name}}">{{effect.name}}</div>
        <div class="centre">{{effect.value}}</div>
        {{#if effect.isActive}}
        <div class="centre" title="{{localize 'AOV.active'}}">
          <img class="aura-img" src="systems/aov/art-assets/inverse-aura.svg" height="18" width="18" />
        </div>
        {{else}}
        <div class="centre" title="{{localize 'AOV.inactive'}}">
          <img class="aura-img fade" src="systems/aov/art-assets/inverse-aura.svg" height="18" width="18" />
        </div>
        {{/if}}
      </li>
    {{/each}}
  </ol>
</section>