{{!--Equipment Tab--}}
<section class='character tab gear {{tab.cssClass}}' data-group='primary' data-tab='gear'>

  {{!--Equipment List--}}
  <ol class='gear-list'>
    <li class='item gear-header primBackCol gear-grid'>
      <div class='item-image'></div>
      <div class='left'>{{localize 'AOV.name'}}</div>
      <div class='centre' title="{{localize 'AOV.encumbrance'}}">{{localize 'AOV.encumbranceAbbr'}}</div>
      <div class='centre' title="{{localize 'AOV.quantity'}}">{{localize 'AOV.quantityAbbr'}}</div>
      <div class='centre' title="{{localize 'AOV.equippedHint'}}">{{localize 'AOV.equippedAbbr'}}</div>
      <div class='centre'>
        {{#if @root.editable}}
        <a class='item-control item-create' title='{{localize "AOV.createDoc" type=(localize "TYPES.Item.gear")}}'
          data-action='createDoc' data-document-class='Item' data-type='gear'>
          <i class='fas fa-plus'></i>
        </a>
        {{/if}}
      </div>
    </li>
    {{#each gear as |item id|}}
    <li class='item gear-grid' data-item-id='{{item._id}}' data-drag='true' data-document-class='Item'>
      <div class='item-image' title='{{item.name}}'><a><img src='{{item.img}}' width='24' height='24' /> </a></div>
      <div class="gear-name left rollable" title='{{localize "AOV.viewDoc" type=(localize "TYPES.Item.gear")}}'
        data-action='viewDoc'>{{item.name}}</div>
      <div class='gear-name terIcon centre'>{{item.system.actlEnc}}</div>
      <div class='gear-name centre'>
        <input class="gear-input item-quantity" name='system.quantity' type='number' value='{{item.system.quantity}}'/>
      </div>
      <div class='gear-name centre' data-action="itemToggle" data-property="equipStatus"><a class="">
          {{#if (eq item.system.equipStatus 1)}}
          <i class="fas fa-hand-holding" title='{{localize "AOV.carried"}}'></i>
          {{else}}
          {{#if (eq item.system.equipStatus 2)}}
          <i class="fas fa-horse" title='{{localize "AOV.packed"}}'></i>
          {{else}}
          <i class="fas fa-house" title='{{localize "AOV.stored"}}'></i>
          {{/if}}
          {{/if}}

        </a></div>
      {{#unless ../isLocked}}
      <div class='gear-controls centre'>
        <a class='item-delete centre' title='{{localize "AOV.deleteDoc" type=(localize "TYPES.Item.gear")}}'
          data-action="deleteDoc">
          <i class='fas fa-trash'></i>
        </a>
      </div>
      {{/unless}}
    </li>
    {{/each}}
    <br>

  {{!--Armour Section--}}
  <li class='item gear-header {{#if singleColour}}primBackCol{{else}}secBackCol{{/if}} armour-grid'>
      <div class='left'>{{localize 'AOV.name'}}</div>
      <div class='centre'>{{localize 'AOV.hitLocations'}}</div>
      <div class='centre' title="{{localize 'AOV.armourPoints'}}">{{localize 'AOV.armourPointsAbbr'}}</div>
      <div class='centre' title="{{localize 'AOV.encumbrance'}}">{{localize 'AOV.encumbranceAbbr'}}</div>
      <div class='centre' title="{{localize 'AOV.moveQuietly'}}">{{localize 'AOV.moveQuietlyAbbr'}}</div>
      <div class='centre' title="{{localize 'AOV.equippedHint'}}">{{localize 'AOV.equippedAbbr'}}</div>
  </li>
  {{#each armours as |item id|}}
    <li class='item armour-grid' data-item-id='{{item._id}}' data-drag='true' data-document-class='Item'>
      <div class="gear-name left rollable" title='{{localize "AOV.viewDoc" type=(localize "TYPES.Item.weapon")}}'
        data-action='viewDoc'>{{item.name}}</div>
      <div class='gear-name centre'>{{item.system.armourLocLabel}}</div>
      <div class='gear-name centre'>{{item.system.map}}</div>
      <div class='gear-name terIcon centre'>{{item.system.actlEnc}}</div>
      <div class='gear-name centre'>{{item.system.mqPenalty}}</div>
      <div class='gear-name centre' data-action="itemToggle" data-property="equipStatus"><a class="">
          {{#if (eq item.system.equipStatus 1)}}
          <i class="fas fa-hand-holding" title='{{localize "AOV.carried"}}'></i>
          {{else}}
            {{#if (eq item.system.equipStatus 2)}}
              <i class="fas fa-horse" title='{{localize "AOV.packed"}}'></i>
            {{else}}
              <i class="fas fa-house" title='{{localize "AOV.stored"}}'></i>
            {{/if}}
          {{/if}}
        </a></div>
      {{#unless ../isLocked}}
      <div class='gear-controls centre'>
        <a class='item-delete centre' title='{{localize "AOV.deleteDoc" type=(localize "TYPES.Item.weapon")}}'
          data-action="deleteDoc">
          <i class='fas fa-trash'></i>
        </a>
      </div>
      {{/unless}}
    </li>
    {{/each}}

  </ol>

</section>