<section class='character tab effects {{tab.cssClass}}' data-group='primary' data-tab='effects'>
<ol class="gear-list">
  <div class="effects-grid gear-header primBackCol">
    <div class="diff-label left">{{localize 'AOV.sourceItem'}}</div>
    <div class="diff-label centre">{{localize 'AOV.effect'}}</div>
    <div class="diff-label centre">{{localize 'AOV.amount'}}</div>
    <div class="diff-label centre">{{localize 'AOV.active'}}</div>
  </div>

  {{#each effects as |effect|}}
    <li class="item item-edit effects-grid" data-item-id = "{{effect.id}}">
      <div class="effect-source left rollable">{{effect.sourceName}}</div>
      <div class="centre truncate" title="{{effect.name}}">{{effect.name}}</div>
      <div class="centre">{{effect.value}}</div>
      {{#if effect.isActive}}
      <div class="centre" title="{{localize 'AOV.active'}}">
        <img class="aura-img" src="systems/aov/art-assets/inverse-aura.svg" height="18" width="18" />
      </div>
      {{else}}
      <div class="centre" title="{{localize 'AOV.inactive'}}">
        <img class="aura-img fade" src="systems/aov/art-assets/inverse-aura.svg" height="18" width="18" />
      </div>
      {{/if}}
    </li>
  {{/each}}
</ol>
</section>