<form class="aov">
  <div class="">
    <ol class="op-list">
      <div class="dice-roll">
        <li class='actor-roll'>
          <img class="open-actor" src="{{particImg}}" height="53" width="53" title="{{particName}}" />
          <div class="roll-details">
            <div class="header">
              <div class='name'>
                <span class="tag">{{particName}}</span>
              </div>
            </div>
          </div>
        </li>
        </div>
        {{#each results as |result key|}}
          <div>
            {{#if result.success}}
              <span class="bold truncate">{{result.label}} (+{{result.incVal}}%) <i class="result-success fas fa-axe-battle"></i> {{result.rollResult}} v {{result.target}} </span>
            {{else}}
              <span class="bold truncate">{{result.label}} <i class="result-fail fas fa-skull"></i> {{result.rollResult}} v {{result.target}}</span>
            {{/if}}
          </div>
        {{/each}}
    </ol>
  </div>
</form>