<form class="aov">
  <div class="">
    <ol class="op-list">
      <div class="dice-roll">
        <li class='actor-roll'>
          <img class="open-actor" src="{{particImg}}" height="53" width="53" title="{{particName}}" />
          <div class="roll-details">
            <div class="header">
              <div class='name'>
                <span class="tag">{{particName}}</span>
              </div>
            </div>
            <span class="pending">{{localize 'AOV.dice'}}: {{mainRoll}}
          </div>
        </li>
        {{#if noFamily}}
          <div>{{localize 'AOV.noFamily'}} </div>
        {{else}}
          {{#each family as |person key|}}
            <div>
              <span class="bold">{{person.name}}</span>
              <span> ({{person.relation}} : {{person.gender}} : {{person.age}})</span>
            </div>
          {{/each}}
        {{/if}}
    </ol>
  </div>
</form>

