<form class="aov">
  <div class="">
    <ol class="op-list">
      <div class="dice-roll">
        <li class='actor-roll'>
          <img class="open-actor" src="{{particImg}}" height="53" width="53" title="{{particName}}" />
          <div class="roll-details">
            <div class="header">
              <div class='name'>
                <span class="tag">{{particName}}</span>
              </div>
            </div>
            <span class="pending">{{localize 'AOV.dice'}}: {{rollResult}}
          </div>
        </li>
        <div>
          <span class="bold">{{features}}
          </span>
        </div>
    </ol>
  </div>
</form>

