<form class="aov">
  <div class="">
    <li class='actor-roll'>
      <img class="open-actor" src="{{particImg}}" height="53" width="53" title="{{particName}}" />
      <div class="roll-details">
        <div class="header">
          <div class='name'>
            <span class="tag">{{particName}}</span>
          </div>
        </div>
        <div class="header">
          <div class='name'>
            <span class="tag">{{localize 'AOV.roll'}}: {{rollResult}}</span>
          </div>
        </div>      
      </div>
    </li>
    <div class="bottom-line"></div>
    <div class="header">
      <div class='name'>
        <span class="centre tag">{{{result}}}</span>
      </div>
    </div>
  </div>
</form>