<section class='item tab details draggable {{tab.cssClass}}' data-group='primary' data-tab='details'>

  <div class="gear-detail-grid">
    <div class="new-row">{{localize 'AOV.armourType'}}</div>
    <input class="gear-input" name='system.type' type='text' value='{{item.system.type}}'/>
    <div class="new-row"></div>
    <br>
    <div class="new-row">{{localize 'AOV.material'}}</div>
    <input class="gear-input" name='system.material' type='text' value='{{item.system.material}}'/>
    <div class="new-row"></div>
    <br>
    <div class="new-row">{{localize 'AOV.coverage'}}</div>
    <input class="gear-input" name='system.coverage' type='text' value='{{item.system.coverage}}'/>
    <div class="new-row"></div>
    <br>
    <div class="new-row" title="{{localize 'AOV.hitLocationsHint'}}">{{localize 'AOV.hitLocations'}}</div>
    <div class="minstrdex">
      <span class="centre"><input class="gear-input centre" name='system.lowLoc' type='text' value='{{item.system.lowLoc}}'  data-dtype="Number"/></span>
      <span class="centre"> / </span>
      <span class="centre"><input class="gear-input centre" name='system.highLoc' type='text' value='{{item.system.highLoc}}'  data-dtype="Number"/></span>
    </div>
    <div class="new-row"></div>
    <br>
    <div class="new-row">{{localize 'AOV.absorbs'}}</div>
    <input class="gear-input" name='system.map' type='text' value='{{item.system.map}}' data-dtype="Number" />
    <div class="new-row"></div>
    <br>
    <div class="new-row">{{localize 'AOV.encumberance'}}</div>
    <input class="gear-input" name='system.enc' type='text' value='{{item.system.enc}}' data-dtype="Number" />
    <div class="new-row"></div>
    <br>
    <div class="new-row">{{localize 'AOV.cost'}}</div>
    <input class="gear-input" name='system.cost' type='text' value='{{item.system.cost}}' data-dtype="Number" />
    <div class="new-row"></div>
    <br>
    <div class="new-row">{{localize 'AOV.moveQuietly'}}</div>
    <input class="gear-input" name='system.mqPenalty' type='text' value='{{item.system.mqPenalty}}' data-dtype="Number" />


    {{#if hasOwner}}
      <div class="new-row"></div>
      <br>
      <div class="new-row">{{localize 'AOV.equipped'}}</div>
      <div class="">
        <select class="gear-input" data-handle-change name="system.equipStatus">
          {{selectOptions equippedOptions selected=item.system.equipStatus}}
        </select>
      </div>
    {{/if}}

  </div>
</section>