<section class='item tab details draggable {{tab.cssClass}}' data-group='primary' data-tab='details'>

  <div class="gear-detail-grid">
    <div class="new-row">{{localize 'AOV.locType'}}</div>
    {{#if isGM}}
      <div class="" >
        <select class="gear-input" data-handle-change name="system.locType">
          {{selectOptions hitLocTypes selected=item.system.locType}}
        </select>
      </div>
    {{else}}
      <div class="gear-input centre">{{hitLocName}}</div>
    {{/if}}
    <div class="new-row"></div>
    <br>



    {{#unless (eq system.locType 'general')}}
      <div class="new-row">{{localize 'AOV.hitLocLow'}}</div>
      <div class="centre"><input class="gear-input centre" name='system.lowRoll' type='text' value='{{item.system.lowRoll}}'  data-dtype="Number"/></div>
      <div class="new-row">{{localize 'AOV.hitLocHigh'}}</div>
      <div class="centre"><input class="gear-input centre" name='system.highRoll' type='text' value='{{item.system.highRoll}}'  data-dtype="Number"/></div>
      <div class="new-row"></div>
      <br>

      <div class="new-row">{{localize 'AOV.hitLocMod'}}</div>
      <div class="centre"><input class="gear-input centre" name='system.hpMod' type='text' value='{{item.system.hpMod}}'  data-dtype="Number"/></div>
      <div class="new-row"></div>
      <br>
    {{/unless}}

    {{#if isGM}}
      <div class="new-row" title="{{localize 'AOV.gridPosHint'}}">{{localize 'AOV.gridPos'}}</div>
        <div class="centre"><input class="gear-input centre" name='system.gridPos' type='text' value='{{item.system.gridPos}}'  data-dtype="Number"/></div>
      <div class="new-row"></div>
      <br>
    {{/if}}

    {{#if hasOwner}}
      {{#unless isChar}}
        <div class="new-row" title="{{localize 'AOV.armourPoints'}}">{{localize 'AOV.armourPointsAbbr'}}</div>
        <div class="centre"><input class="gear-input centre" name='system.npcAP' type='text' value='{{item.system.npcAP}}'  data-dtype="Number"/></div>
        <div class="new-row"></div>
        <br>
        <div class="new-row">{{localize 'AOV.damage'}}</div>
        <div class="centre"><input class="gear-input centre" name='system.npcDmg' type='text' value='{{item.system.npcDmg}}'  data-dtype="Number"/></div>
        <div class="new-row"></div>
        <br>        
      {{/unless}}
    {{/if}}

  </div>
</section>