<section class='item tab details draggable {{tab.cssClass}}' data-group='primary' data-tab='details'>
  <div class="gear-detail-grid">
    <div class="new-row bold">{{localize 'AOV.dispPriority'}}</div>
    <div class="centre"><input class="gear-input centre" name='system.priority' type='number' value='{{item.system.priority}}'/></div>
  </div>
  <br>
  <div class="new-row bold">{{localize 'AOV.description'}}</div>
  <textarea class='npcpower secIcon' name='system.description'>{{item.system.description}}</textarea>
  <div class="new-row"></div>
  <br>
</section>