<section class='item tab details draggable {{tab.cssClass}}' data-group='primary' data-tab='details'>

  <div class="gear-detail-grid">
    <div title="{{localize 'AOV.noXPHint'}}">{{localize 'AOV.noXP'}}</div>
    <div class="centre" {{#if isGM}}data-action="itemToggle"{{/if}} data-property="noXP"><a class="icon16">
      {{#if system.noXP}}
        <i class="fa-regular fa-square-check"></i>
      {{else}}
        <i class="fa-regular fa-square"></i>
      {{/if}}
      </a>
    </div>  
    <div class="new-row"></div>
    <br>
    <div class="new-row">{{localize 'AOV.baseScore'}}</div>
    {{#if isGM}}
      <div class="centre"><input class="gear-input centre" name='system.base' type='text' value='{{item.system.base}}'  data-dtype="number"></div>
    {{else}}
      <div class="centre">{{system.base}}</div>
    {{/if}}    
    {{#if hasOwner}}
      <div class="new-row">{{localize 'AOV.family'}}</div>
      <div class="centre"><input class="gear-input centre" name='system.family' type='text' value='{{item.system.family}}'  data-dtype="number"></div>
      <div class="new-row">{{localize 'AOV.total'}}</div>
      <div class="centre">{{system.total}}</div>
      <div class="new-row"></div>
      <br>

      {{#unless system.noXP}}
        <div class="new-row" title="{{localize 'AOV.xpCheckHint'}}">{{localize 'AOV.xpCheck'}}</div>
        <div class="centre" data-action="itemToggle" data-property="xpCheck"><a class="icon16">
          {{#if system.xpCheck}}
            <i class="fa-regular fa-square-check"></i>
          {{else}}
            <i class="fa-regular fa-square"></i>
          {{/if}}
        </a></div>  
      {{/unless}}

    {{/if}}
  </div>
</section>