<section class='item tab details draggable {{tab.cssClass}}' data-group='primary' data-tab='details'>

  <div class="gear-detail-grid">
    <div class="new-row">{{localize 'AOV.category'}}</div>
    {{#if isGM}}
      <div class="" >
        <select class="gear-input" data-handle-change name="system.category">
          {{selectOptions skillCatOptions selected=item.system.category}}
        </select>
      </div>
    {{else}}
      <div class="gear-input centre">{{skillCatName}}</div>
    {{/if}}
    <div class="new-row"></div>
    <br>

    {{#if (eq system.category 'cbt')}}
      <div class="new-row">{{localize 'AOV.weaponTypeCat'}}</div>
      {{#if isGM}}
        <div class="" >
          <select class="gear-input" data-handle-change name="system.weaponType">
            {{selectOptions weaponTypeOptions selected=item.system.weaponType}}
          </select>
        </div>
      {{else}}
        <div class="gear-input centre">{{weaponTypeName}}</div>
      {{/if}}

      {{#if isGM}}
        <div class="" >
          <select class="gear-input" data-handle-change name="system.weaponCat">
            {{selectOptions weaponCatOptions selected=item.system.weaponCat}}
          </select>
        </div>
      {{else}}
        <div class="gear-input centre">{{weaponCatName}}</div>
      {{/if}}
      <div class="new-row"></div>
      <br>
    {{/if}}





    <div class="new-row">{{localize 'AOV.baseScoreOption'}}</div>
    {{#if isGM}}
      <div class="" >
        <select class="gear-input" data-handle-change name="system.baseVal">
          {{selectOptions baseSkillOptions selected=item.system.baseVal}}
        </select>
      </div>
    {{else}}
      <div class="gear-input centre">{{baseSkillName}}</div>
    {{/if}}
    <div class="new-row"></div>
    <br>

    <div class="new-row" title="{{localize 'AOV.commonSkillHint'}}">{{localize 'AOV.commonSkill'}}</div>
    <div class="centre" {{#if isGM}}data-action="itemToggle"{{/if}} data-property="common">
      <a class="icon16">
        <i class="fa-regular {{#if system.common}}fa-square-check{{else}}fa-square{{/if}}"></i>
      </a>
    </div>

    <div class="new-row"></div>
    <br>
    <div class="new-row" title="{{localize 'AOV.specHint'}}">{{localize 'AOV.spec'}}</div>
    <div class="centre" {{#if isGM}}data-action="itemToggle"{{/if}} data-property="specSkill"><a class="icon16">
      {{#if system.specSkill}}
        <i class="fa-regular fa-square-check"></i></a></div>
        <div class="new-row">{{localize 'AOV.specialisation'}}</div>
        <div class="centre"><input class="gear-input centre" name='system.specialisation' type='text' value='{{item.system.specialisation}}'/></div>

      {{else}}
        <i class="fa-regular fa-square"></i></a></div>
      {{/if}}


    <div class="new-row"></div>
    <br>

    <div class="new-row" title="{{localize 'AOV.noXPHint'}}">{{localize 'AOV.noXP'}}</div>
    <div class="centre" {{#if isGM}}data-action="itemToggle"{{/if}} data-property="noXP"><a class="icon16">
      {{#if system.noXP}}
        <i class="fa-regular fa-square-check"></i>
      {{else}}
        <i class="fa-regular fa-square"></i>
      {{/if}}
      </a>
    </div>
    <div class="new-row"></div>
    <br>
    <div class="new-row">{{localize 'AOV.baseScore'}}</div>
    {{#if isGM}}
      <div class="centre"><input class="gear-input centre" name='system.base' type='text' value='{{item.system.base}}'  data-dtype="Number"/></div>
    {{else}}
      <div class="centre">{{system.base}}</div>
    {{/if}}
    {{#if hasOwner}}
      <div class="new-row">{{localize 'AOV.experience'}}</div>
      <div class="centre"><input class="gear-input centre" name='system.xp' type='text' value='{{item.system.xp}}'  data-dtype="Number"/></div>
      <div class="new-row">{{localize 'AOV.homeland'}}</div>
      <div class="centre"><input class="gear-input centre" name='system.home' type='text' value='{{item.system.home}}'  data-dtype="Number"/></div>
      <div class="new-row">{{localize 'AOV.personal'}}</div>
      <div class="centre"><input class="gear-input centre" name='system.pers' type='text' value='{{item.system.pers}}'  data-dtype="Number"/></div>
      <div class="new-row">{{localize 'AOV.catBonus'}}</div>
      <div class="centre">{{system.catBonus}}</div>
      <div class="new-row">{{localize 'AOV.total'}}</div>
      <div class="centre">{{system.total}}</div>
      <div class="new-row"></div>
      <br>

      {{#unless system.noXP}}
        <div class="new-row" title="{{localize 'AOV.xpCheckHint'}}">{{localize 'AOV.xpCheck'}}</div>
        <div class="centre" data-action="itemToggle" data-property="xpCheck"><a class="icon16">
          {{#if system.xpCheck}}
            <i class="fa-regular fa-square-check"></i>
          {{else}}
            <i class="fa-regular fa-square"></i>
          {{/if}}
        </a></div>
      {{/unless}}

    {{/if}}
  </div>
</section>